@charset "UTF-8";
table, th, td {
	border: 5px solid green;
	border-collapse: collapse;
	padding: 5px;
	width: 50%;
}

@font-face{
	font-family: Minecraft;
	src: url(../Media/Minecraft.ttf);
	}

body {
	font-family: Minecraft;
}
caption {
	padding: 3px;
	font-size: 40px;
	
	
}
