@charset "UTF-8";

@font-face{
	font-family: Minecraft;
	src: url(../Media/Minecraft.ttf);
	}

html {
 	text-align: center;
 	color: cyan;
 	font-family: Minecraft;
	font-size: 25px;
	text-shadow: 3px 2px grey;
	background-image: url(../Media/tetrisbgp.png);
	
}
h1 {
	font-size: 50px;	
}
h3 {
	font-size: 20px;
	line-height:0.5;
}

button {
	font-family: Minecraft;
}

footer {
	line-height: 1.5;
}

a:visited {
	color: cyan;
}

#myCanvas {
	background: #000000;
	border: 2px solid grey;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table {
	margin: auto;
	border: 2px solid grey;
	max-width: 1280px;
	width: 50%;
	font-size: 25px;
	text-shadow: 3px 2px grey;
}
th {
	border: 2px solid grey;
	margin: auto;
	max-width: 1280px;
	width: 50%;
}

td {
	border: 2px solid grey;	
}

